<form [formGroup]="tripForm">

  <!-- TO AIPORT -->

  <div>

    <p>Departing Notre Dame</p>

    <!--Datepicker -->
    <mat-form-field>
      <input matInput formControlName="toAirportDate" [matDatepicker]="toAirportPicker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="toAirportPicker"></mat-datepicker-toggle>
      <mat-datepicker #toAirportPicker color="accent"></mat-datepicker>
    </mat-form-field>

    <!--Time-->
    <mat-form-field>
      <input matInput formControlName="toAirportTime" type="time" placeholder="">
    </mat-form-field>

    <!--Location-->
    <mat-form-field>
      <mat-select formControlName="toAirportLocation" placeholder="Select Airport">
        <mat-option value="MDW">MDW Airport</mat-option>
        <mat-option value="ORD">ORD Airport </mat-option>
        <mat-option value="ND">Notre Dame</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <!-- FROM AIPORT -->
  <div>

    <p>Departing Airport</p>

    <!--Datepicker -->
    <mat-form-field>
      <input matInput formControlName="fromAirportDate" [matDatepicker]="fromAirportPicker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="fromAirportPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromAirportPicker></mat-datepicker>
    </mat-form-field>

    <!--Time-->
    <mat-form-field>
      <input matInput formControlName="fromAirportTime" type="time" placeholder="">
    </mat-form-field>

    <!--Location-->
    <mat-form-field>
      <mat-select formControlName="fromAirportLocation" placeholder="Select Airport">
        <mat-option value="MDW">MDW Airport</mat-option>
        <mat-option value="ORD">ORD Airport </mat-option>
        <mat-option value="ND">Notre Dame</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <button (click)="updateTrip()">UPDATE TRIP</button>

</form>
