<div>
  <app-header-toolbar title="AVAILABLE RIDES"></app-header-toolbar>

  <div class="content" fxLayout="row wrap" fxLayoutAlign="center start">
    <mat-card class="ride-card">
      <p>my card haha</p>
    </mat-card>
    <mat-card class="ride-card">
      <p>my card haha</p>
    </mat-card>
    <mat-card class="ride-card">
      <p>my card haha</p>
    </mat-card>
    <mat-card class="ride-card">
      <p>my card haha</p>
    </mat-card>
    <mat-card class="ride-card">
      <p>my card haha</p>
    </mat-card>
    <mat-card class="ride-card">
      <p>my card haha</p>
    </mat-card>
    <mat-card class="ride-card">
      <p>my card haha</p>
    </mat-card>
    <mat-card class="ride-card">
      <p>my card haha</p>
    </mat-card>
  </div>

</div>
