<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="declareFont profile">
    <p>
      Hi Libby!
    </p>
  </div>
  <mat-nav-list class="widthFullPer" fxLayoutAlign="center center" fxLayout="column">
    <a mat-list-item routerLinkActive="navLinks--active" routerLink="home" *ngFor="let link of links" class="declareFont navLinks" fxLayoutAlign="center center"> {{ link }} </a>
  </mat-nav-list>
  <img src="assets/ndbuspool-logo-onDark.png" class="logo-width">
</div>
